@import "config";

$primary-color: #16344d;
$secondary-color: #ff957c;
$home-image: url(../img/Web-Dev.jpg);
$background-opacity: 0.8;

@mixin easeOut {
    transition: all 0.15s ease-out;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    line-height: 1.5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bg-img {
    background: $home-image; //#e4dddd;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;

    .section-overlay {
        content: '.';
        position: absolute;
        height: 100%;
        width: 100%;
        right: 0;
        top: 0;
        background: rgba(244, 244, 244, 0.79);
        //opacity: 0.9;
        z-index: 0;
    }

}

// Headings
h1,
h2 {
    margin: 0;
    font-weight: 400;

    &.greeting {
        font-size: 6rem;
    }

}

// All links
a {
    color: black;
    text-decoration: none;
}

// Secondary Text
.text-secondary {
    color: $secondary-color;
}

// Navigation Bar
.navbar {
    background: white;
    opacity: $background-opacity;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 2px 2px $primary-color;
    z-index: 50;
    width: 100%;
    padding-bottom: 0;
    //height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// Social Icons
.social-icons {
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 10px;

    //     list-style: none;
    //     text-align: right;
    a:hover {
        color: $secondary-color;
        @include easeOut();
    }
}

//}

.navbar-nav {
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    list-style-type: none;
    justify-content: center;
    // position: relative;
    // bottom: 10px;
}

.nav-item {
    margin: 0;
}

.nav-link {
    margin-left: 15px;
    padding-bottom: 10px;

    &:hover {
        border-bottom: $secondary-color 3px solid;
        @include easeOut();
    }
}

.branding {
    margin-top: 0;
}

.navbar-toggle {
    display: none;
}

 .active {
    display: flex;
    flex-direction: column;
}

.current {
    border-bottom: $secondary-color 3px solid;
}


// Body & Home page
#welcome-section {
    text-align: center;
    height: 100vh;

    .welcome-section-text {
        margin-top: 6rem;
    }

    #intro {
        font-size: 2rem;

        .text-primary {
            color: darken($primary-color, 10);
        }
    }

}

// Projects
#work {

    h1 {
        text-align: center;
    }
}

.projects {
    // display: grid;
    // margin: 30px;
    // grid-template-columns: repeat(3, 400px);
    // grid-template-rows: 200px 200px;
    // grid-gap: 40px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-evenly;
}

.project-tile {
    box-shadow: 0 1px 1px black;
    border: $secondary-color 3px solid;
    margin: 25px 0;

    img {
        width: 100%;


        &:hover {
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut();
        }
    }

    &:hover {
        box-shadow: 0 6px 6px black;
        @include easeOut();
    }
}

// Contact Page
#contact {
    background: lighten($primary-color, 40);
    width: 100%;

    h1 {
        text-align: center;
    }
}

// Contact Form
.contact-details {
    margin-top: 1rem;

    .container {
        border-radius: 5px;
        max-width: 600px;
        padding: 20px;
        margin: auto;
    }

    input[type=text],
    input[type=email],
    textarea {
        width: 100%;
        padding: 14px;
        border: none;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;

        &:hover {
            border: 2px solid $secondary-color;
            @include easeOut();
        }

        &::placeholder {
            color: #888;
        }
    }

    input[type=submit] {
        background: $primary-color;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        margin: 0 auto;
        cursor: pointer;

        &:hover {
            background-color: lighten($color: $primary-color, $amount: 10);
        }
    }

}

// Sections
section {

    &#work,
    &#contact {
        span.text-secondary {
            border-bottom: $primary-color 3px solid;
            padding: 0.02rem;
        }
    }

}

// Footer
footer {
    text-align: center;
    padding: 1rem;
    color: lighten($color: $primary-color, $amount: 30);
    background: darken($color: $primary-color, $amount: 10);
    height: 60px;

    &>a {
        color: inherit;
    }
}


//Media Queries
@include mediaSm {

}

@include mediaMd {
    .navbar {
        font-size: 18px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding-bottom: 10px;
    }

    .navbar-nav {
        padding-top: 15px;
        display: none;
     }

    .nav-link {
        text-decoration: none;
    }

    .navbar-nav li {
        text-align: center;
        margin: 15px auto;
    }

    .branding {
        display: inline-block;
        margin-top: 10px;
        margin-left: 20px;
    }

    .social-icons {
        margin-right: 20px;
        margin-top: auto;
        padding: 10px;
    }

    .navbar-toggle {
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.8);
        font-size: 24px;
        display: inline-block;
    }

     .active {
         display: block;
     }

    footer {
        font-size: 0.8rem;
    }


    #welcome-section {
        text-align: left;
        margin: auto;
        line-height: 1.2;
        height: 80vh;

        .welcome-section-text {
            margin-left: 2rem;
        }

    }

   
}