@import "config";

$primary-color: #16344d;
$secondary-color: #ff957c;
$home-image: url(../img/Web-Dev.jpg);
$background-opacity: 0.7;

@mixin easeInOut {
    transition: all 0.2s ease-in-out;
}


*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.5;
    color: set-text-color(yellow);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bg-img {
    background: $home-image; //#e4dddd;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;

    .section-overlay {
        content: '.';
        position: absolute;
        height: 100%;
        width: 100%;
        right: 0;
        top: 0;
        background: rgba(244, 244, 244, 0.79);
        z-index: 0;
    }
    // &::after {
    //     content: '';
    //     position: absolute;
    //     height: 100%;
    //     width: 100%;
    //     right: 0;
    //     top: 0;
    //     background: rgba(244, 244, 244, 0.79);
    //     z-index: 0;
    // }
}

// Headings
h1,
h2 {
    margin: 0;
    font-weight: 400;

    &.greeting {
        font-size: 6rem;
    }

}

// All links
a {
    color: black;
    text-decoration: none;
}

// Secondary Text
.text-secondary {
    color: $secondary-color;
}

// NavBar
#navbar {
    background: white;
    opacity: $background-opacity;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 2px 2px $primary-color;
    z-index: 50;
}

.nav-grid {
    display: grid;
    padding: 10px 30px 0 30px;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);


    // Social Icons
    .social-icons {
        list-style: none;
        text-align: right;

        li {
            display: inline-block;
            margin-left: 10px;

            a:hover {
                color: $secondary-color;
                @include easeInOut();
            }
        }
    }

}

ul.navbar-nav {
    text-align: center;
    padding-right: 40px;
    color: black;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 10px;
}

.nav-item {
    list-style: none;
    display: inline;
    margin: 20px;
}

.nav-link {
    padding: 10px;

    &:hover {
        border-bottom: $secondary-color 3px solid;
        @include easeInOut();
    }
}

.current {
    border-bottom: $secondary-color 3px solid;
}


// Body & Home page
#welcome-section {
    text-align: center;
    height: 100vh;

.welcome-section-text {
    margin-top: 8rem;
}

    #intro {
        font-size: 2rem;

        .text-primary {
            color: $primary-color;
        }
    }

    .social-icons-sm {
        list-style: none;
        text-align: left;
        display: none;

        li {
            display: inline-block;
            padding-top: 5px;
            padding-right: 10px;

            a:hover {
                color: $secondary-color;
                @include easeInOut();
            }
        }
    }
}

// Projects 
#work {

    h1 {
        text-align: center;
    }
}

.projects {
    // display: grid;
    // margin: 30px;
    // grid-template-columns: repeat(3, 400px);
    // grid-template-rows: 200px 200px;
    // grid-gap: 40px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-evenly;
}

.project-tile {
    box-shadow: 0 1px 1px black;
    border: $secondary-color 3px solid;
    margin: 25px 0;

    img {
        width: 100%;


        &:hover {
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeInOut();
        }
    }

    &:hover {
        box-shadow: 0 6px 6px black;
        @include easeInOut();
    }
}

// Contact Page
#contact {
    background: lighten($primary-color, 40);
    width: 100%;

    h1 {
        text-align: center;
    }
}

.contact-details {
    margin-top: 1rem;
    .container {
        border-radius: 5px;
        max-width: 600px;
        padding: 20px;
        
        margin: auto;
    }

    input[type=text],
    input[type=email],
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid $secondary-color;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;

        &::placeholder {
            color: #888;
        }
    }

    input[type=submit] {
        background: $primary-color;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        margin: 0 auto;
        cursor: pointer;

        &:hover {
            background-color: lighten($color: $primary-color, $amount: 10);
        }
    }

}

section {

    &#work,
    &#contact {
        span.text-secondary {
            border-bottom: $primary-color 3px solid;
            padding: 0.5rem;
        }
    }

}

//Media Queries
@include mediaSm {
    .social-icons {
        display: none;
    }

    .social-icons-sm {
        display: block;
    }
}

@include mediaMd {

    .navbar-nav {
        display: flex;
        justify-content: space-evenly;
    }

    #welcome-section {
        text-align: left;
        margin-top: 10rem;
        margin-left: 2rem;
        line-height: 1.2;
        height: 70vh;

        .welcome-section-text {
            margin-left: 2rem;
        }
    }
}

// Footer
footer {
    text-align: center;
    padding: 1rem;
    color: lighten($color: $primary-color, $amount: 30);
    background: darken($color: $primary-color, $amount: 10);
    height: 60px;

    &>a {
        color: inherit;
    }
}