*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  margin: 0;
  line-height: 1.5;
  color: set-text-color(yellow);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.bg-img {
  background: url(../img/background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  z-index: 0; }
  .bg-img:after {
    content: '';
    background: rgba(22, 52, 77, 0.4);
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute; }

h1,
h2 {
  margin: 0;
  font-weight: 400; }
  h1.greeting,
  h2.greeting {
    font-size: 6rem; }

a {
  color: black;
  text-decoration: none; }

.text-secondary {
  color: #ff957c; }

#welcome-section {
  text-align: center;
  height: 100vh; }
  #welcome-section #intro {
    font-size: 2rem; }

.nav-grid {
  display: grid;
  margin: 10px 30px 0 30px;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  z-index: 50; }

ul.navbar-nav {
  text-align: center;
  padding-right: 40px;
  color: black;
  display: flex;
  justify-content: space-evenly; }

.nav-item {
  list-style: none;
  display: inline;
  margin: 20px; }

.nav-link {
  padding: 10px; }
  .nav-link:hover {
    border-bottom: #ff957c 3px solid;
    transition: all 0.2s ease-in-out; }

.current {
  border-bottom: #ff957c 3px solid; }

.social-icons {
  list-style: none;
  text-align: right; }
  .social-icons li {
    display: inline-block;
    margin-left: 10px; }
    .social-icons li a:hover {
      color: #ff957c;
      transition: all 0.2s ease-in-out; }

.projects {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  gap: 30px;
  justify-content: space-evenly; }

.project-tile {
  box-shadow: 0 1px 1px black;
  border: #ff957c 3px solid;
  margin: 25px 0; }
  .project-tile img {
    width: 100%; }
    .project-tile img:hover {
      opacity: 0.5;
      border-color: #ff957c;
      transition: all 0.2s ease-in-out; }
  .project-tile:hover {
    box-shadow: 0 6px 6px black; }

#work h1 {
  text-align: center; }

#contact {
  background: #5e9dd1; }
  #contact h1 {
    text-align: center; }

.contact-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 1rem;
  margin-left: 40px;
  margin-right: 40px; }
  .contact-details div {
    font-size: 2rem;
    border: 3px #000 solid;
    padding: 0.5rem 1.5rem;
    margin-bottom: 1rem;
    transition: all 0.2s ease-in-out; }
    .contact-details div:hover {
      background: #ff957c;
      padding: 0.25rem 0.75rem;
      color: white;
      cursor: pointer; }
      .contact-details div:hover span {
        color: black; }

section#work, section#contact {
  min-height: 700px; }

@media screen and (max-width: 768px) {
  .navbar-nav {
    display: flex;
    justify-content: space-evenly; }
  #welcome-section {
    text-align: left;
    margin-left: 2rem;
    line-height: 1;
    height: 75vh; } }

footer {
  text-align: center;
  padding: 1rem;
  color: #3884c4;
  background: #0b1925;
  height: 60px; }
  footer > a {
    color: inherit; }
