*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  margin: 0;
  line-height: 1.5;
  color: set-text-color(yellow);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.bg-img {
  background: url(../img/Web-Dev.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative; }
  .bg-img .section-overlay {
    content: '.';
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
    z-index: 0; }

h1,
h2 {
  margin: 0;
  font-weight: 400; }
  h1.greeting,
  h2.greeting {
    font-size: 6rem; }

a {
  color: black;
  text-decoration: none; }

.text-secondary {
  color: #ff957c; }

#navbar {
  background: white;
  opacity: 0.7;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 2px 2px #16344d;
  z-index: 50; }

.nav-grid {
  display: grid;
  padding: 10px 30px 0 30px;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr); }
  .nav-grid .social-icons {
    list-style: none;
    text-align: right; }
    .nav-grid .social-icons li {
      display: inline-block;
      margin-left: 10px; }
      .nav-grid .social-icons li a:hover {
        color: #ff957c;
        transition: all 0.2s ease-in-out; }

ul.navbar-nav {
  text-align: center;
  padding-right: 40px;
  color: black;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  bottom: 10px; }

.nav-item {
  list-style: none;
  display: inline;
  margin: 20px; }

.nav-link {
  padding: 10px; }
  .nav-link:hover {
    border-bottom: #ff957c 3px solid;
    transition: all 0.2s ease-in-out; }

.current {
  border-bottom: #ff957c 3px solid; }

#welcome-section {
  text-align: center;
  height: 100vh; }
  #welcome-section .welcome-section-text {
    margin-top: 8rem; }
  #welcome-section #intro {
    font-size: 2rem; }
    #welcome-section #intro .text-primary {
      color: #16344d; }
  #welcome-section .social-icons-sm {
    list-style: none;
    text-align: left;
    display: none; }
    #welcome-section .social-icons-sm li {
      display: inline-block;
      padding-top: 5px;
      padding-right: 10px; }
      #welcome-section .social-icons-sm li a:hover {
        color: #ff957c;
        transition: all 0.2s ease-in-out; }

#work h1 {
  text-align: center; }

.projects {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: space-evenly; }

.project-tile {
  box-shadow: 0 1px 1px black;
  border: #ff957c 3px solid;
  margin: 25px 0; }
  .project-tile img {
    width: 100%; }
    .project-tile img:hover {
      opacity: 0.5;
      border-color: #ff957c;
      transition: all 0.2s ease-in-out; }
  .project-tile:hover {
    box-shadow: 0 6px 6px black;
    transition: all 0.2s ease-in-out; }

#contact {
  background: #5e9dd1;
  width: 100%; }
  #contact h1 {
    text-align: center; }

.contact-details {
  margin-top: 1rem; }
  .contact-details .container {
    border-radius: 5px;
    max-width: 600px;
    padding: 20px;
    margin: auto; }
  .contact-details input[type=text],
  .contact-details input[type=email],
  .contact-details textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ff957c;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical; }
    .contact-details input[type=text]::placeholder,
    .contact-details input[type=email]::placeholder,
    .contact-details textarea::placeholder {
      color: #888; }
  .contact-details input[type=submit] {
    background: #16344d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    cursor: pointer; }
    .contact-details input[type=submit]:hover {
      background-color: #214f75; }

section#work span.text-secondary, section#contact span.text-secondary {
  border-bottom: #16344d 3px solid;
  padding: 0.5rem; }

@media screen and (max-width: 500px) {
  .social-icons {
    display: none; }
  .social-icons-sm {
    display: block; } }

@media screen and (max-width: 768px) {
  .navbar-nav {
    display: flex;
    justify-content: space-evenly; }
  #welcome-section {
    text-align: left;
    margin-top: 10rem;
    margin-left: 2rem;
    line-height: 1.2;
    height: 70vh; }
    #welcome-section .welcome-section-text {
      margin-left: 2rem; } }

footer {
  text-align: center;
  padding: 1rem;
  color: #3884c4;
  background: #0b1925;
  height: 60px; }
  footer > a {
    color: inherit; }
